<style>
    .menu {
        background-color: #222;
    }
     .menu-header {
         font-family: 'Fjalla One', sans-serif;
         font-size: 72px;
         font-weight: bold;
         color: #fffded;
         text-align: center;
     }

    .menu-sub-header {
        font-family: 'Fjalla One', sans-serif;
        font-size: 48px;
        color: #fffded;
        text-align: center;
    }

    .menu-item {
        text-align: center;
        color: #fffded;
        font-family: 'Fjalla One', sans-serif;
        font-size: 24px;
        line-height: 1.6;
        border-top: 2px solid #6498ae;
        margin-left: 15px;
        margin-right: 15px;
    }
</style>

<div class="container" style="width: 960px;">
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="~/Content/Images/food-morning-breakfast-croissant.jpg" />
        </div>
    </div>
    <div class="menu">
        <div class="row">
            <div class="col-md-12 menu-header">
                MENU
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <div class="col-md-12 menu-sub-header">
                        Breads
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 menu-item">
                        <span class="pull-left">Bap</span>
                        <span class="pull-right">£2.20</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <div class="col-md-12 menu-sub-header">
                        Fillings
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 menu-item">
                        <span class="pull-left">Bacon</span>
                        <span class="pull-right">£0.50</span>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

